<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/orders/all/{{ orderId }}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ order.groupname }}</ion-title>
    <ion-title size="small">{{ order.deadline }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" offset-sm="3">
        <ion-list>
          <ion-item *ngFor="let item of order.items">
            {{ item.name }} - {{ item.quantity }}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>