<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/groups"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{ loading ? null : group.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!loading">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">
        <h2 class="ion-text-center">{{ group.description }}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item
            *ngIf="currentUserIsManager"
            detail
            (click)="onNavigateToManageGroup()">
            <ion-label>Manage Group</ion-label>
          </ion-item>

          <ion-item
            [detail]="orderIsAllowed"
            [ngClass]="orderIsAllowed ? '' : 'noorder'"
            (click)="orderIsAllowed ? onNavigateToPlaceOrder() : null">
            <ion-label>Place an Order</ion-label>
          </ion-item>

          <ion-item
            detail
            (click)="onNavigateToOrdersArchives()">
            <ion-label>My Previous Orders</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>