<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/groups"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ group.name }}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">
        <h2 class="ion-text-center">{{ group.description }}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item
            detail
            [routerLink]="['/', 'groups', 'manage', group.id]">
            <ion-label>Manage Group</ion-label>
          </ion-item>
          <ion-item
            detail
            [routerLink]="['/', 'orders', 'new', group.id]">
            <ion-label>Passer une Commande</ion-label>
          </ion-item>
          <ion-item
            detail
            [routerLink]="['/', 'orders', 'all', group.id]">
            <ion-label>Voir mes commandes précédentes</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>