<ion-header>
  <ion-toolbar>
    <ion-title>Enter Amount</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="onAddAmount()">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="6" offset-sm="3">
          <ion-input
            type="number"
            [ngModel]="productAmount"
            name="product-amount"
            required></ion-input>
          <ion-button type="submit">Add</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>