<ion-header>
  <ion-toolbar>
    <ion-title>Create a New Group</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="onAddGroup()">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Group's Name</ion-label>
            <ion-input
              type="text"
              [ngModel]="groupName"
              name="group-name"
              required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Group's Description</ion-label>
            <ion-textarea
              [ngModel]="groupDescription"
              name="group-description"
              required></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Group's Main Currency</ion-label>
            <ion-input
              type="text"
              [ngModel]="groupCurrency"
              name="group-currency"
              required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-sm="6" offset-sm="3">
          <ion-button
            color="secondary"
            type="button"
            (click)="onResetNewGroupForm()">Reset</ion-button>
          <ion-button
            color="primary"
            type="submit">Add</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <ion-card>
    <ion-card-content>
      <p>You will be the manager of this group.</p>
    </ion-card-content>
  </ion-card>
</ion-content>