<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/groups"></ion-back-button>
    </ion-buttons>
    <ion-title>place-order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="availableOrder">

  <ion-grid *ngIf="(availableOrderItems.available.length); else noItemsBlock">

    <ion-row
      *ngFor="let item of availableOrderItems.available">
      <ion-col size="12" size-sm="6" offset-sm="3">
        <ion-card>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="8">
                  <h2>{{ item.item_name }}</h2>
                </ion-col>
                <ion-col size="4" class="ion-text-right">
                  <ion-badge [ngClass]="{'hidden' : !ordered[item.available_item_id] }">{{ ordered[item.available_item_id] }}</ion-badge>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="8">
                  <p>{{ item.item_description }}</p>
                  <p>{{ item.item_price }}</p>
                  <p>Available: {{ availableOrderItemsState[item.available_item_id].available }}</p>
                </ion-col>
                <ion-col size="4" class="ion-text-right">
                  <div>
                    <ion-icon
                      [ngClass]="{'disabled' : !availableOrderItemsState[item.available_item_id].available}"
                      name="caret-up-outline"
                      (click)="onAddToBasket(item.available_item_id, availableOrderItemsState[item.available_item_id].available)"></ion-icon>
                  </div>
                  <div>
                    <ion-icon
                      [ngClass]="{'disabled' : !ordered[item.available_item_id] }"
                      name="caret-down-outline"
                      (click)="onRemoveFromBasket(item.available_item_id)"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-sm="6" offset-sm="3">
        <ion-button
          color="secondary"
          type="button"
          (click)="onCancel()">Cancel</ion-button>
        <ion-button
          color="primary"
          type="button"
          (click)="onOrder()">Order</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ng-template #noItemsBlock>
    No items available for this order
  </ng-template>
</ion-content>