<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/groups/detail/{{ groupid }}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ group$? group$.groupname : null }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="group$">
  <ion-grid>

    <!-- [ngClass]="managing && managing.length && managing !== 'products' ? 'inactive' : 'active'" -->
    <ion-row>
      <ion-col size="12">
        <ion-card
          [ngClass]="managing && managing.length && managing !== 'products' ? 'inactive' : 'active'"
          color="primary"
          (click)="onNavigateToAvailableOrders()">
          <ion-card-header class="ion-text-center">
            <ion-card-title>Available Items</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            Update available items and deadline for the {{ group$.groupname }} group.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card
          [ngClass]="managing && managing.length && managing !== 'summary' ? 'inactive' : 'active'"
          color="primary"
          (click)="onSelect('summary')">
          <ion-card-header class="ion-text-center">
            <ion-card-title>Orders Summary</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            Check Summary of Last Order
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card
          [ngClass]="managing !== ManagingScreen.USERS ? 'inactive' : 'active'"
          color="secondary"
          (click)="onSelect('users')">
          <ion-card-header>
            <ion-card-title class="ion-text-center">Members</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            View and manage your group's members.
          </ion-card-content>
        </ion-card>
      </ion-col>


      <ion-col size="6" class="ion-align-self-stretch flex">
        <ion-card
          [ngClass]="managing && managing.length && managing !== 'infos' ? 'inactive' : 'active'"
          color="light"
          (click)="onSelect('infos')">
          <ion-card-header>
            <ion-card-title class="ion-text-center">Group Details</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            View and manage your group's detail.
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card
          *ngIf="managing"
          class="ion-padding-top component">
          <ion-card-content [ngSwitch]="managing" class="ion-no-padding">

            <app-group-infos
              *ngSwitchCase="'infos'"
              (cancelled)="onCancel()"></app-group-infos>


            <app-group-users
              *ngSwitchCase="'users'"
              (cancelled)="onCancel()"></app-group-users>

            <app-group-summary
              *ngSwitchCase="'summary'"
              (cancelled)="onCancel()"></app-group-summary>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>