<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/groups"></ion-back-button>
    </ion-buttons>
    <ion-title>Manage {{ group.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card color="primary" (click)="onSelect('products')">
          <ion-card-header class="ion-text-center">
            <ion-card-title>Manage Available Products</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            Update available products and deadline for the {{ group.name }} group.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card color="secondary" (click)="onSelect('users')">
          <ion-card-header>
            <ion-card-title class="ion-text-center">Manage Group Members</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            View and manage your group's members.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="light" (click)="onSelect('infos')">
          <ion-card-header>
            <ion-card-title class="ion-text-center">Manage Group Details</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            View and manage your group's detail (name, manager).
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-content [ngSwitch]="managing">
            <app-group-infos
              *ngSwitchCase="'infos'"
              [group]="group"
              (cancelled)="onCancel()"></app-group-infos>
            <app-group-products
              *ngSwitchCase="'products'"
              [group]="group"
              (cancelled)="onCancel()"></app-group-products>
            <app-group-users
              *ngSwitchCase="'users'"
              [group]="group"
              (cancelled)="onCancel()"></app-group-users>
            <p *ngSwitchDefault>Click a Card to Update</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>