<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-text-center">Orders</ion-card-title>
  </ion-card-header>

  <ion-card-content *ngIf="empty">
    <ion-label>No orders yet!</ion-label>
  </ion-card-content>

  <ion-card-content *ngIf="!empty">
    <ion-list>
      <ion-item
        *ngFor="let date of ordersDates"
        detail
        (click)="onNavigateToOrderDetails(date)">
        <ion-label>{{ date }}</ion-label>
      </ion-item>
    </ion-list>

  </ion-card-content>
</ion-card>