<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/groups/detail/{{ groupid }}"></ion-back-button>
    </ion-buttons>
    <ion-title>AVAILABLE ORDERS PAGE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="availableOrders$">
  <h1>ION CONTENT</h1>
  <ion-row>
    <ion-col size="12" size-sm="8" offset-sm="2">
      <ion-list>
        <ion-item
          *ngFor="let availableOrder of availableOrders$ | keyvalue"
          detail
          (click)="onNavigateToAvailableOrder(availableOrder.key)">
          <h3>{{ availableOrder.value.deliveryTs}}</h3>
          <h4>{{ availableOrder.value.deadlineTs}}</h4>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ng-template #noOrdersBlock>
    NO ORDERS BLOCK
  </ng-template>
</ion-content>