<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/groups"></ion-back-button>
    </ion-buttons>
    <ion-title>Group Name Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      Deadline set to:
    </ion-card-content>
  </ion-card>

  <form [formGroup]="orderForm">
    <ion-grid>
      <ion-row
        *ngFor="let product of products"
        [formGroupName]="product.name">
        <ion-col size="12" size-sm="6" offset-sm="3">
          <ion-item-sliding #slidingItem>
            <ion-item>
              <!-- <ion-checkbox formControlName="selected"></ion-checkbox> -->
              <ion-text>{{product.name}} - {{product.currency}} {{ product.currency}} (available: {{product.initial_qty}})</ion-text>
              <ion-input
                type="number"
                formControlName="amount"></ion-input>
            </ion-item>
            <ion-item-options>
              <ion-item-option color="danger" (click)="onDeleteItem(product.name, slidingItem)">Delete</ion-item-option>
              <ion-item-option color="success" (click)="onAddItem(product.name, slidingItem)">Add</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-sm="6" offset-sm="3">
          <ion-button
            color="secondary"
            type="button"
            (click)="onCancel()">Cancel</ion-button>
          <ion-button
            color="primary"
            type="submit"
            (click)="onOrder()">Order</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>

</ion-content>